<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Type Faster{% endblock %}</title>
        <meta name="description" content="So you think you are fast? Try to Type Faster.">
        <meta name="keywords" content="{% trans %}keyboard, typefaster, type faster, fast type, fast typing, faster, typing speed, dactylography{% endtrans %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if request.endpoint %}
            {% for lang_code in config.ACCEPT_LANGUAGES %}
                <link rel="alternate" href="{{ url_for(request.endpoint, lang_code=lang_code, _external=True, **request.view_args) }}" hreflang="{{ lang_code }}" />
            {% endfor %}
        {% endif %}

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />

        <link rel="stylesheet" href="{{ url_for('static', filename='styles/src/core.css') }}">
        {% block extra_css %}{% endblock %}

        <script src="{{ url_for('static', filename='bower_components/modernizr/modernizr.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div id="wrapper">
            {% block nav %}
                <nav class="navbar navbar-defaulti navbar-static-top" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url_for('frontend.home') }}">TypeFaster</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Random{% endtrans %} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('frontend.random', game='standard') }}">{% trans %}Standard{% endtrans %}</a></li>
                                        <li><a href="{{ url_for('frontend.random', game='advanced') }}">{% trans %}Advanced{% endtrans %}</a></li>
                                        <li><a href="{{ url_for('frontend.random', game='digits') }}">{% trans %}Digits{% endtrans %}</a></li>
                                        <li><a href="{{ url_for('frontend.random', game='disorder') }}">{% trans %}Disorder{% endtrans %}</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Persistent{% endtrans %} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('frontend.persistent', game='text') }}">{% trans %}Text{% endtrans %}</a></li>
                                        <li><a href="{{ url_for('frontend.persistent', game='alphabet') }}">{% trans %}Alphabet{% endtrans %}</a></li>
                                        <li><a href="{{ url_for('frontend.persistent', game='alphabet-backwards') }}">{% trans %}Alphabet backwards{% endtrans %}</a></li>
                                        <li><a href="{{ url_for('frontend.persistent', game='pi-digits') }}">{% trans %}Pi digits{% endtrans %}</a></li>
                                        <li><a href="{{ url_for('frontend.persistent', game='e-digits') }}">{% trans %}E digits{% endtrans %}</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Multiplayer{% endtrans %} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">{% trans %}Lobby{% endtrans %}</a></li>
                                        <li><a href="#">{% trans %}Join game{% endtrans %}</a></li>
                                        <li><a href="#">{% trans %}Create game{% endtrans %}</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">{% trans %}Log in{% endtrans %}</a></li>
                                <li><a href="#">{% trans %}Register{% endtrans %}</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </nav>
            {% endblock %}

            <div class="container">
                {% block content %}{% endblock %}
            </div>
            <div id="push-footer"></div>
        </div>
        <footer id="footer" class="text-center">
            <small>&copy; {{ utcnow|format_date('%Y') }} TypeFaster</small>
            {% if request.endpoint and g.get('lang_code') %}
                {% for lang_code in config.ACCEPT_LANGUAGES %}
                    {% if lang_code != g.lang_code %}
                        <a href="{{ url_for(request.endpoint, lang_code=lang_code, **request.view_args) }}">{{ lang_code }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </footer>

        <script src="{{ url_for('static', filename='scripts/src/console.js') }}"></script>
        {% if g.get('lang_code') and g.lang_code != config.BABEL_DEFAULT_LOCALE %}
            <script src="{{ url_for('static', filename='scripts/translations/javascript.' + g.lang_code + '.js') }}"></script>
        {% endif %}

        <script src="{{ url_for('static', filename='bower_components/requirejs/require.js') }}"></script>
        <script>
            define('config', {
                JSLOGGER_LEVEL: {{ config.JSLOGGER_LEVEL|safe|tojson }}
            });
        </script>
        <script>require(["{{ url_for('static', filename='scripts/src/common.js') }}"], {% block js_main %}function() {}{% endblock %});</script>
        {% block extra_js %}{% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    </body>
</html>
