{% extends "_base.html" %}

{% block title %}
    {{ super() }} - Home
{% endblock %}

{% block extra_css %}
    <style>
        .pull-left {
            float: left;
        }
        #type-container {
            border: 2px solid black;
            position: relative;
        }
        #type-inner{
            width: 100%;
            height: 70px;
            overflow: hidden;
        }
        .word {
            font-size: 25px;
            line-height: 35px;
            white-space: nowrap;
        }
        .hl {
            background: red;
        }
    </style>
{% endblock %}

{% block extra_js %}{% endblock %}

{% block js_main %}
function() {
    define('globals', {
        titi: 'tata'
    });
    require(['src/home/main']);
}
{% endblock %}

{% block content %}
    <h1>{{ g.lang_code }}</h1>
    {% trans %}This is the home page{% endtrans %}

    <p><a href="{{ url_for('.about') }}">{% trans %}Go to about page{% endtrans %}</a></p>

    {% for lang_code in config.ACCEPT_LANGUAGES %}
        {% if lang_code != g.lang_code %}
            <p><a href="{{ url_for('.home', lang_code=lang_code) }}">Switch lang : {{ lang_code }}</a></p>
        {% endif %}
    {% endfor %}


    <div id="type-container">
        <div id="type-inner">
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div id="titi" class="hl word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div id="toto" class="hl word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
