{% extends "_base.html" %}

{% block title %}
    {{ super() }} - {% trans %}Because speed matters{% endtrans %}
{% endblock %}

{% block extra_css %}
    <style>
        .pull-left {
            float: left;
        }
        #type-container {
            border: 2px solid black;
            position: relative;
        }
        #type-inner{
            width: 100%;
            height: 70px;
            overflow: hidden;
        }
        .word {
            font-size: 25px;
            line-height: 35px;
            white-space: nowrap;
        }
        .hl {
            background: red;
        }
    </style>
{% endblock %}

{% block extra_js %}{% endblock %}

{% block js_main %}
function() {
    define('globals', {
        titi: 'tata'
    });
    require(['src/home/main']);
}
{% endblock %}

{% block nav %}
<nav></nav>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>TypeFaster <small>{% trans %}because speed matters.{% endtrans %}</small></h1>

    </div>

    <p>{% trans %}Get your keyboard ready and choose a game already.{% endtrans %}</p>

    <div class="games row text-center">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{% trans %}Random{% endtrans %}</h3>
                    <small>{% trans %}Because you master any combination of words and letters{% endtrans %}</small>
                    <hr />
                    <div class="row">
                        <p class="col-lg-12 col-md-3"><a href="{{ url_for('.random', game='standard') }}">{% trans %}Standard{% endtrans %}</a></p>
                        <p class="col-lg-12 col-md-3"><a href="{{ url_for('.random', game='advanced') }}">{% trans %}Advanced{% endtrans %}</a></p>
                        <p class="col-lg-12 col-md-3"><a href="{{ url_for('.random', game='digits') }}">{% trans %}Digits{% endtrans %}</a></p>
                        <p class="col-lg-12 col-md-3"><a href="{{ url_for('.random', game='disorder') }}">{% trans %}Disorder{% endtrans %}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{% trans %}Persistent{% endtrans %}</h3>
                    <small>{% trans %}Because the classics do not scare you.{% endtrans %}</small>
                    <hr />
                    <div class="row">
                        <p class="col-lg-12 col-md-2"><a href="{{ url_for('.persistent', game='text') }}">{% trans %}Text{% endtrans %}</a></p>
                        <p class="col-lg-12 col-md-2"><a href="{{ url_for('.persistent', game='alphabet') }}">{% trans %}Alphabet{% endtrans %}</a></p>
                        <p class="col-lg-12 col-md-4"><a href="{{ url_for('.persistent', game='alphabet-backwards') }}">{% trans %}Alphabet backwards{% endtrans %}</a></p>
                        <p class="col-lg-12 col-md-2"><a href="{{ url_for('.persistent', game='pi-digits') }}">{% trans %}Pi digits{% endtrans %}</a></p>
                        <p class="col-lg-12 col-md-2"><a href="{{ url_for('.persistent', game='e-digits') }}">{% trans %}E digits{% endtrans %}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Multiplayer</h3>
                    <small>{% trans %}Because you just want to be the fastest.{% endtrans %}</small>
                    <hr />
                    <div class="row">
                        <p class="col-lg-12 col-md-4"><a href="#">{% trans %}Lobby{% endtrans %}</a></p>
                        <p class="col-lg-12 col-md-4"><a href="#">{% trans %}Join game{% endtrans %}</a></p>
                        <p class="col-lg-12 col-md-4"><a href="#">{% trans %}Create game{% endtrans %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {#
    <h1>{{ g.lang_code }}</h1>
    {% trans %}This is the home page{% endtrans %}

    <p><a href="{{ url_for('.about') }}">{% trans %}Go to about page{% endtrans %}</a></p>

    {% for lang_code in config.ACCEPT_LANGUAGES %}
        {% if lang_code != g.lang_code %}
            <p><a href="{{ url_for('.home', lang_code=lang_code) }}">Switch lang : {{ lang_code }}</a></p>
        {% endif %}
    {% endfor %}


    <div id="type-container">
        <div id="type-inner">
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div id="titi" class="hl word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div id="toto" class="hl word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="word pull-left"><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span><span>s</span></div>
            <div class="word pull-left"><span>&nbsp;</span></div>
            <div class="clearfix"></div>
        </div>
    </div>
    #}
{% endblock %}
