{% extends "_base.html" %}

{% block title %}
    {{ super() }} - Random game
{% endblock %}

{% block extra_css %}{% endblock %}

{% block js_main %}
function() {
    define('globals', {
        game: {{ game|tojson|safe }}
    });
    require(['apps/random']);
}
{% endblock %}

{% block content %}
    <h3>Random <small>{{ game }}</small></h3>

    {% if game == 'standard' %}
        <p>{% trans %}Short words, no caps, easy peasy.{% endtrans %}</p>
    {% elif game == 'advanced' %}
        <p>{% trans %}Longer words, some caps and punctuation marks.{% endtrans %}</p>
    {% elif game == 'digits' %}
        <p>{% trans %}Don't forget the numeric keypad.{% endtrans %}</p>
    {% elif game == 'disorder' %}
        <p>{% trans %}Letters, numbers &amp; a bit of insanity.{% endtrans %}</p>
    {% endif %}

    <hr />

    <div id="typezone-container" class="panel panel-default">
        <div class="panel-body">
            <div id="typezone-view"></div>
        </div>
    </div>
{% endblock %}
