<% var wordsArray = entries.split(' ') %>

<% _.each(wordsArray, function(word) { %>
    <% var entriesArray = word.split('') %>
    <span class="word">
        <% _.each(entriesArray, function(entry) { %><span><%- entry %></span><% }) %>
    </span>
<% }) %>
